<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <img [src]="user.photoString" class="navbar-brand" alt="Image" />
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/profileAgency">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Workers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="go()">Jobs</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item me-3">
            <button class="btn btn-secondary" (click)="changePassword()">Change Password</button>
          </li>
          <li class="nav-item ">
            <button class="btn btn-primary" (click)="logout()">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  