<div class="container custom-container">
    <div class="row">
      <div class="col-12">
        <h2>Object Preview</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <canvas #canvas style="border: 1px solid" width="{{canvasWidth}}" height="{{canvasHeight}}"></canvas>
      </div>
    </div>
    <div class="row-12">
      <div class="col-3">
        <button class="btn btn-secondary" (click)="back()">Back</button>
      </div>
      <div class="col-3 mt-2">
        <button class="btn btn-primary" (click)="logout()">Log out</button>
      </div>
      
      <div *ngIf="showFinish==true" class="col-3 mt-2">
        <button class="btn btn-success" (click)="finish()">Finish</button>
      </div>
      
    </div>
  </div>