.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .back-button-container {
    margin-bottom: auto;
  }
  
  .back-button {
    margin-top: 10px;
  }
  
  .text-center {
    display: flex;
    justify-content: center;
  }
  
  .error-message {
    margin-top: 15px;
    text-align: center;
    color: red;
  }
  