<div class="container">
    <h1 class="text-center">Workers</h1>
    <table class="table">
      <thead>
        <tr>
            <th>
                Firstname
            </th>
            <th>
                Lastname
            </th>
            <th>
                Email
            </th>
            <th>
                Phone Number
            </th>
            <th>
              Specialization
            </th>
            <th>
              Update/Delete
            </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let worker of workers">
            <td>
                {{worker.firstname}}
            </td>
            <td>
                {{worker.lastname}}
            </td>
          <td>
            {{worker.email}}
         </td>
         <td>
            {{worker.phoneNumber}}
         </td>
         <td>
          {{worker.specialization}}
        </td>
         <td>
            <button class="btn btn-outline-success" (click)="update(worker.email)">Update</button>             
            <button class="btn btn-outline-danger" (click)="delete(worker.email)">Delete</button>
         </td>
        </tr>
      </tbody>
    </table>
    <div class="button-container">
      <button class="btn btn-secondary" (click)="back()">Back</button>
      <button class="btn btn-warning" (click)="addWorker()">Add Worker</button>
      <button class="btn btn-primary" (click)="logout()">Logout</button>
    </div>
  </div>