<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <button class="btn btn-secondary back-button" (click)="back()">Back</button>
                <h2 class="text-center" style="margin-right: 60px;">Add Worker</h2>
              </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="firstname">Firstname</label>
                <input type="text" id="firstname" name="firstname" class="form-control" required [(ngModel)]="firstname">
              </div>
              <div class="form-group">
                <label for="lastname">Lastname</label>
                <input type="text" id="lastname" name="lastname" class="form-control" required [(ngModel)]="lastname">
              </div>
              <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" required [(ngModel)]="phoneNumber">
              </div>
              <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" id="email" name="email" class="form-control" required [(ngModel)]="email">
              </div>
              <div class="form-group">
                <label for="specialization">Specialization</label>
                <input type="text" id="specialization" name="specialization" class="form-control" required [(ngModel)]="specialization">
              </div>     
              <div class="form-group register-button">
                    <button type="submit" class="btn btn-primary btn-block" (click)="addWorker()">Add Worker</button>
              </div>           
              <div class="error-message">
                {{message}}
            </div>     
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>